.wrapper{
    width: 100%;
    min-height: 500px;
    background: #000;
}
.wrapper .left-box{
    width: 80%;
    min-height: 400px;
    background: #ffffff;

}
.wrapper .right-box{
    width: 20%;
    min-height: 500px;
    background: #00223f;
}
.wrapper .right-box button{
width: 100%;
}
.wrapper .right-box .action-buttons{
    transform: translateY(50%);
    padding: 2rem;
}
#drag {
    background-color: rgb(89, 0, 255);
    height: 60px;
    width: 150px;
}
/* .wrapper .left-box .drop-targets .item{
    position: absolute;
} */
.wrapper .box{
    border: 1px solid #000;
    height: 100px;
    background: rgb(12, 198, 204); 
    width: 100px;
    min-height: 100px;
    cursor: all-scroll;
    margin-right:5px;
}
.wrapper .box button{
    border-color: transparent;
    background: transparent;
}
/* .wrapper .left-box .drop-targets .box  button{
    border: 1px solid #000;
    width: 100px;
    /* background: #ffffff; 
    min-height: 100px;
    background: transparent;
    cursor: all-scroll;
    margin-right:5px;
} */
#exampleModal .modal-body label{
font-weight: 600;
font-size: 1.2rem;
}

@media only screen and (max-width: 1366px){
    .wrapper .left-box{
        width: 80%;
    }
    .wrapper .right-box{
        width: 20%;
    }
}
@media only screen and (max-width: 1600px){
    .wrapper .left-box{
        width: 80%;

    }
    .wrapper .right-box{
        width: 20%;

    }
}
@media only screen and (max-width: 414px){
   
    .wrapper .left-box{
        width: 100%;
    
    }
    .wrapper .right-box{
        width: 100%;
    }
    .wrapper .right-box a button{
        width: 100%;
        
        }
}